/* ===== Light theme ====== */

:root[data-theme="light"] {

  --accent-primary: #3b82f6;   /* доверие, действие */
  --accent-primary-hover: #2563eb;

  --accent-secondary: #22c55e; /* рост, подтверждение */
  --accent-secondary-hover: #16a34a;
}

/* ===== Dark theme ====== */

:root[data-theme="dark"] {

  --accent-primary: #60a5fa;   /* звезда, ориентир */
  --accent-primary-hover: #3b82f6;

  --accent-secondary: #4ade80; /* подтверждение */
  --accent-secondary-hover: #22c55e;
}