/* ===== Light theme ====== */

:root[data-theme="light"] {

  --text-primary: #1f2937;     /* основной текст */
  --text-secondary: #4b5563;   /* поясняющий */
  --text-muted: #6b7280;       /* второстепенный */
  --text-inverse: #ffffff;
}

/* ===== Dark theme ====== */

:root[data-theme="dark"] {

  --text-primary: #e5e7eb;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --text-inverse: #020617;
}